@import "fonts.css";


::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  background-color: #d9f1f6;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}